* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $global_font;
}


/*h1 { font-size: 60px; padding: $padding_reset; }
h2 { font-size: 34px; padding: $padding_reset; }
h3 { font-size: 1.7em; padding: $padding_reset; }
h4 { font-size: 1.5em; padding: $padding_reset; }
h5 { font-size: 1.2em; padding: $padding_reset;}
h6 { font-size: 1em; padding: $padding_reset;}
footer { font-size: .813em; }*/


article {
  //min-height: 200px;
  //padding-bottom: 70px;
  p {
    line-height: 22px;
    color: #3a333a;
  }
}



.tb-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: stretch;
  padding: 0;
  background-image: url(../img/header.jpg);
  background-position: center 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tb-nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 15%;
  padding: 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  z-index: 999999;
  //height: 100vh;
  
  ul {
  padding: 0;
  margin: 0;

    li {
      width: 100%;
      list-style-type: none;
      transition: all .3s ease;
      line-height: 1.3;
    }
  }
}

.list {
  padding: .6em 3em;
  font-size: .95em;
  font-weight: bold;
}

.logo {
  padding: 3em 0.6em;

  img {
    max-width: 100px;
  }
}

.toggle-menu {
  display: none;
}


.tb-content {
  display: flex;
  flex: 1 1 85%;
  flex-direction: column;
  max-width: 85%;
}

.tb-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 0 auto;
  //max-width: 1080px;
  min-height: 100vh;
}

.tb-nav-content {
  top: 0;
  position: fixed;
  width: 15%;
  z-index: 999999;
}

.list a {
  @include link($wom_lightest_gray);
}

.list a:hover {
  color: #e76190;
}

.activo {
  width: 120%;
  background-color: $wom_dark_purple;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-flex {
  display: flex;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.text-center {
  text-align: center;
}

.list-title {
  
  padding: .5em 0 .5em 1.2em;
  font-size: 1.3em;
}

@media all and (max-width: 768px) {
  
   .tb-nav, .tb-content, .tb-text {
    width: 100%;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
   }

   .tb-nav {
    position: fixed;
    height: auto;
    //overflow: hidden;
   }

   .tb-content {
      width: 100%;
      overflow: initial;
      flex: 1 1 100%;
      max-width: 100%;
      top: 200px;
      min-height: 100vh;
   }

   .tb-nav-content {
    position: static;
    width: 100%;
   }

  .logo {
    display: inline-block;
    padding: 0.3em 0.6em 0.1em 0.6em;
   }

   .toggle-menu {
    display: block;
    float: right;
    font-size: 1.3em;
    padding: .15em .6em;
   }

   article {
    margin-top: 40px;
   }

  .list-title {
    padding: .5em 0 .5em 1.2em;
  font-size: 1em;
  }

  .tb-text {
    padding-top: 70px;
  }
}

.mob-menu {
  float: right;
 }


@media all and (min-width: 769px) and (max-width: 1100px) {
  .list-title {
    font-size: 1.2em;
  }

  .tb-content {
  flex: 1 1 80%;
  max-width: 80%;
  } 

  .tb-nav-content {
    width: 20%;
  }

  .tb-nav {
    flex: 1 1 20%;
  }
}

// de Main.css

.title-light {
  color: #fff;
}

.title-dark {
  color: #3f2464;
}

.title-light, .title-dark {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1.2em;
}

.text-color {
  color: #3a3839;
}

.btn-principal {
  background-color: #d1666c;
  border: 1px solid #b55b60;
  outline: none;

  :hover {
    background-color: #d1666c;
    border: 1px solid #b55b60;
  }
}

// Seccion About Me
#about-me {
    width: 100%;
    overflow: hidden;
    color: #fff;

    p {
      text-shadow: 0px 0px 6px #000000;
    }
}

.photo {
  width: 100%;
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  overflow: hidden;
  img {
    display: block;
    
    
  }

}

.awards-lab {
  filter:invert(100%);
}
// Seccion Curriculum
#curriculum {
  background-color: #fff;
}

.tb-panel {
  width: 100%;
  
  li {
    margin: 0 auto;

    a {
      color: #e76190;
    }
  }
}

.tab-content {
  display: block;
}

// Seccion Habilidades
#skills {
  background-color: #f2eff6;
}
// Seccion Proyectos
#projects {
  background-color: #fff;
}

.detail-container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.detail-text {
  color: white;
  font-size: 16px;
  //padding: 16px 32px;
}

#contact {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url(../img/bg_contact.jpg);
  background-position: center 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 15px 5%;
  color: #fff;
}

.contact-image {
  width: 40%;
  padding: 4%;
}

  .inputform, textarea, .form-control {
    background-color: rgba(18, 16, 30, 0.5);
    border: 1px solid #8b5666;
  }

  .inputform:focus, textarea:focus {
    background-color: rgba(18, 16, 30, 0.5);
    border: 1px solid #8b5666;
    color: #fff;
    outline: 0 none;
  }

/* Iconos Menu */
  .icons {
    position: relative;
    font-size: 33px;
    font-weight: 600;
    color: #e6e6e6 !important;
    width: 50px;
    height: 50px;
    margin: 10px 20px;
    padding: 0;
    display: inline-block;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .icons:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #e6e6e6;
    content: '';
    z-index: -1;
    border-radius: 50%;
  }
  .icons:before {
    color: #fff;
  }
  .icons:before,
  .icons:after {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .icons:hover,
  .icons:active,
  .icons.hover {
    color: #d1666c;
  }
  .icons:hover:after,
  .icons:active:after,
  .icons.hover:after {
    border-color: transparent #d1666c;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .icons-mobile {
    width: 30px;
    height: 30px;
    font-size: 1.4em;
    padding: 5px; 
  }

/* Seccion Skills */ 
  .skills-content {
    height: 400px;
    background-color: #f2eff6;
  }

/* Seccion Projects  */

  .project-content {
    background-color: #fff;
    padding: 10px 10%;
  }

  .categories {
    width: 100%;
    padding: 2% 0;
    text-align: center;
    border-bottom: 1px solid #e8e9ea;
    border-top: 1px solid #e8e9ea;
    font-weight: 600;
    margin: 0;
  }

  .categories ul li, .categories ul {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
  }

  .categories ul li a {
    color: #8c859d;
    text-decoration: none;
    margin: 0 10px; 
  }

  .categories ul li a:hover {
    color: #e76190;
    text-decoration: none;
  }

  .categories ul li .active {
    background-color: #5c4078;
    color: #fff;
    padding: 3px 10px;
    border-radius: 10px;
  }

  .categories ul li .active:hover {
    background-color: #e5e5e5;
  }

  .img-zoom {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #456399;
    overflow: hidden;
    display: inline-block;
  }

.img-zoom:hover .image {
  opacity: 0.3;
}

.img-zoom:hover .detail-container {
  opacity: 1;
}

.img-zoom img {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -ms-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all 0.9s ease;
    width: 100%;
  }

.img-zoom:hover img {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25); 
    transform: scale(1.25);
    opacity: 0.4;
  }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}