@font-face {
    font-family: Potra;
    src: url(,/../../fonts/Potra.ttf);
  }

body {
    font-family: 'Comfortaa', cursive;
}
nav {
    display: flex;
    justify-content: space-around
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1.title-site {
    font-family: 'Potra', sans-serif;
    font-size: calc(46px + 4.8vw);
    max-width: min-content;
    text-align: center;
    color: #a618dc;
    line-height: 1;
    margin: 0 auto;
}

.header-content {
    text-align: center;
    width: 45%;
}

.header-img {
    width: 55%;
    max-width: calc(100vh - 100px);
}

nav .nav-menu {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    max-width: 700px;
}

nav .nav-menu .nav-item {
    list-style: none;
    font-weight: 700;

}

nav .nav-menu .nav-item .nav-link {
    text-decoration: none;
    color: #333;
}

.logo {
    width: 40%;
    max-height: 100px;
}