<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tamara Bravo - Frontend Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="css/stylevue.css">
</head>

<body>

    <div id="app">
        <ul class="menu">
            <li class="title-header"><div class="content"><h1>{TB}</h1> <h2>Tamara Bravo</h2> <h3>Frontend Developer</h3></div> </li>
           <li v-for="page in pages" class="menu-item"><a class="menu-link" :href="page" v-bind:key='page' @click.prevent='() => {currentData = page; showModal = true }'><h3>{{page}}</h3></a></li> 
        </ul>

        <footer>
            <footer-section></footer-section>
        </footer>
        

        <transition name="modal">
            <div class="modal-mask" v-if="showModal" aria-hidden="true">
                <div class="modal-wrapper">
                    <button @click="showModal = false">x</button>
                    <p>
                        <component :is="currentComponent"></component>
                    </p>
                </div>
            </div>
        </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="js/components/about.js"></script>
    <script src="js/components/projects.js"></script>
    <script src="js/components/skills.js"></script>
    <script src="js/components/blog.js"></script>
    <script src="js/components/contact.js"></script>
    <script src="js/components/footer.js"></script>
    <script src="js/index.js"></script>
</body>

</html>